.navigationMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #535353;
    position: absolute;
    width: 100%;
    gap: 5px;
    padding: 5px;
}

.navigtion_link{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navigtion_link:hover{
    transition: 1s;
    background-color: #717171;
}
