.partialVerification{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
.content_partial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 60%;
    padding: 20px;
}

.input_partial{
    border: 1px solid #535353;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_partial button{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 70%;
    margin-top: 40px;
    padding: 10px;
}

.input_partial button:hover{
    border: 1px solid #535353;
    background-color: #535353; 
    cursor: pointer;
}

.advertisement_partial{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 15%;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.services div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    gap: 10px;
}

.services div button{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 70%;
    padding: 10px;
}

.services div button:hover{
    border: 1px solid #535353;
    background-color: #535353; 
    cursor: pointer;
}